<html>
<head>
  <meta charset="utf-8">
  <title>A start box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="content"></div>
  <script type="text/javascript" src="node_modules/steal/steal.js" data-main="main"></script>
</body>
</html>
